/* ================= BASE ================= */
.explore-menu {
  position: relative;
  overflow: hidden;
  padding-left: 55px;
  padding-right: 40px;
  background-color: white;
}

.explore-menu-wrapper {
  width: 93%;
   
 padding-inline: clamp(12px, 4vw, 60px);
  margin: auto;
  overflow: hidden;
}

/* ================= ITEM ================= */
.explore-menu-list-item {
  width: 160px;
  flex-shrink: 0;
  text-align: center;
  cursor: pointer;
}

.explore-menu-list-item img {
  width: 145px;
  height: 145px;
  object-fit: contain;
  display: block;
  transition: transform 0.3s ease;
}

.explore-menu-list-item img:hover {
  transform: scale(0.9);
}

.explore-menu-list-item p {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 700;
  color: #555;
}

/* ================= ARROWS ================= */
/* .menu-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  cursor: pointer;
  z-index: 10;
}

.menu-arrow.left {
  left: 73px;
}

.menu-arrow.right {
      right: 73px;
}
/* ================= DOTS ================= */
.category-dots {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  gap: 8px;
} 

.dot {
  width: 7px;
  height: 7px;
  background: #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dot.active {
  width: 22px;
  border-radius: 10px;
  background: #ff3d00;
}

/* ================= RESPONSIVE (TABLET + MOBILE) ================= */
@media (max-width: 1279px) {
  /* ❌ hide arrows & dots */
  .menu-arrow,
  .category-dots {
    display: none !important;
  }

  /* ❌ remove side padding */
  .explore-menu {
    
    padding-left: 0;
    padding-right: 0;
  }

  /* full width swiper */
  .explore-menu-wrapper {
    width: 100%;
  }
}
@media (min-width: 300px) {
  /* ❌ hide arrows & dots */
  .menu-arrow,
  .category-dots {
    display: none !important;
  }

  /* ❌ remove side padding */
  .explore-menu {
    
    padding-left: 0;
    padding-right: 0;
  }

  /* full width swiper */
  .explore-menu-wrapper {
    width: 100%;
  }
}

/* ================= SMALL DEVICES ================= */
@media (max-width: 768px) {
  .explore-menu-list-item {
    width: 120px;
  }

  .explore-menu-list-item img {
    width: 95px;
    height: 95px;
  }

  .explore-menu-list-item p {
    font-size: 14px;
  }
}
